.section {
  position: relative;
  background-color: antiquewhite;
  display: flex;
  width: 80%;
  overflow-x: auto;
  /* scroll-snap-type: x mandatory; */
  
}
.section__item {
  /* scroll-snap-align: start; */
  background-color: aquamarine;
  margin: 50px;
  /* scroll-snap-align: center; */
 
}
body{
  display:flex;
  align-items: center;
  /* justify-content: flex-end; */
}