/* Thêm bài viêt  */
html{
	font-family: 'Lexend',sans-serif;
}
body{
	padding: 0;
	margin: 0;
}
.banner_admin{
	z-index: 2;
	background-color: #167EA1;
	position: fixed;
	display: inline-block;
	width: 100%;
	color: #ffffff;
	border-bottom: 4px solid #00f7ff;
}
.banner_admin h2{
	margin-left: 20px;
	background-image: linear-gradient(to right, #00f7ff, #bdefeefb); 
    -webkit-background-clip: text; /* Áp dụng gradient cho màu chữ */
    color: transparent; /* Ẩn màu chữ mặc định */
    display: inline-block; /* Đảm bảo gradient chỉ áp dụng cho vùng chữ, không bao gồm khoảng trắng xung quanh */
	
}

.menu_admin {
	position: fixed;
    border-radius: 0 15px;
    color: rgb(255, 255, 254);
    background-color: #167EA1;
    height: 100vh;
    padding: 20px;
	width: 250px; 
    top:80px;
}
.menu_admin div{
	padding-bottom: 10px;
	margin: 20px;
	border-bottom: 1px  solid #ffffff; 
}
.menu_admin div:hover{
	color: #03e4e0; 
}
a{
	text-decoration: none;
}
details> p > a {
	color: #ffffff;
	padding: 5px;
}
details>p > a:hover {
	border-radius: 10px;
	
	background-color: #094446;
}





/* tinh thanh  */
.show_tt,.them_tt{
	position: relative;
	align-items: center;
	text-align: center;
	background-color: #6da3a639;
	border-radius: 10px;
	overflow: hidden;
	top: 80px;
	left: 300px;
	width: 80%;
}
.them_tt>form{
	display: flex;
	flex-direction: column;
}
.cont_add{
	display: flex;
	justify-content: space-evenly;
}
.cont_add>div>p{
	font-size: 16px;
}
.cont_add>div>input{
	width: 200px;
	height: 40px;
	margin-bottom: 20px;
	border-radius: 10px;
	border: none;
}

table{
	width: 97%;
	text-align: center;
	margin: 10pX
	
}

table,tr,th,td{
	border: 1px solid gray;
	border-collapse: collapse;
}
th{
	padding: 5px 0;
}
.sua-xoa{
	align-items: center;
	text-align: center;
	margin-top: 40px;
	border: none;
	display: flex;
	justify-content: center;
}
.sua,.xoa{
	padding: 5px 15px;
	border-radius: 5px;
	color: #085a59;
}
.sua:hover{
	transition: 0.3s;
	background-color: #16a147;
	color: rgb(230, 240, 230);
}
.xoa:hover{
	transition: 0.3s;
	color: rgb(255, 196, 0);
	background-color: #904101;
}
.add_ttbtn {
	display: block;
	
}
.add_ttbtn >button{
	margin-left: 500px;
	padding: 10px 40px;
	border-radius: 15px;
	background-color: #085a59;
	color: #ffffff;
	border: none;
}
.add_ttbtn >button:hover{
	background-color: rgb(73, 196, 196);
	transition: 0.4s;
}

